body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("images/background.png");
  background-size: cover;
  background-position: center;
  color: #fff;
}

main {
  margin: 2rem;
}

button {
  background-color: #61dafb;
  border: none;
  color: #282c35;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4fa3d1;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-item {
  width: 48%; /* Du kannst die Breite anpassen, um den Abstand zwischen den beiden Teilen zu ändern */
}

input[type="text"],
input[type="number"] {
  width: 50%;
  padding: 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #282c35;
}

input[type="text"]:focus,
input[type="number"]:focus {
  outline: none;
  border: 1px solid #61dafb;
}
